@import "tailwindcss";
@import "tailwindcss-animated";
@theme {
    --color-red: #9a2823;
    --color-yellow: #fbc510;
}

@layer components {
    /* Khusus untuk webkit (Chrome, Safari, Edge) */
    .thin-scroll::-webkit-scrollbar {
        height: 0.1px; /* ketebalan horizontal scrollbar */
    }
    .thin-scroll::-webkit-scrollbar-track {
        background: transparent; /* bg-gray-300 */
    }
    .thin-scroll::-webkit-scrollbar-thumb {
        background-color: var(--color-gray-300); /* bg-gray-500 */
        border-radius: 9999px; /* rounded-full */
        border: 1px solid var(--color-gray-300); /* opsional, agar thumb ada jarak ke track */
    }

    /* Untuk Firefox */
    .thin-scroll {
        scrollbar-width: thin;
        scrollbar-color: var(--color-gray-300) transparent;
    }
}
